#board
  %ul.board_subnav.nav.nav-tabs
    %li.active
      %a(href="#user_exercises") Your Exercises
    %li
      %a(href="#user_mentee_exercises") Your Mentee Exercises
  #user_exercises.user_exercise_style
    %ul.user_tracks-subnav
      %li
        %a All
      %li 
        %a
          %img(src="/assets/html5.png")
          Html
      %li.active 
        %a
          %img(src="/assets/css3.png")
          Css3
      %li
        %a
          %img(src="/assets/javascript.png")
          JavaScript
    .track_header
      .track_details
        .logo_n_name.item
          %img(src="/assets/css3.png")
          %h3 Css3
        .track_deadline.item
          %h5 to be completed by
          %p#date 12th June
        .track_mentor.item
          %h5 mentor
          %p Bruce Willis
      .progress_bar
    .section_each
      .exercise_purpose
        %p You have 3 tasks to do in this exercise 
      %h5 Exercise
      .exercise_name
        %i.fa.fa-check-circle-o(aria-hidden="true")
        %h3 Exercise name
      %p.exercise_description
        This is exercise description
      .section_resources  
        %h5 Resources
        %p resource 1
        %p resource 2  
      .user_answers    
        %p 
          Checkout my code at
          %a https://github.com/bradpitt/thisexercise 
        .user-input_field      
          = text_field_tag 'user_answer' 
          = submit_tag 'submit' , class: 'btn-primary_action'
      .exercise-tasks_to_do
        %h4 Tasks to do
        %ul
          %li 
            %i.fa.fa-check-circle-o(aria-hidden="true") 
            first task
          %li 
            %i.fa.fa-check-circle-o(aria-hidden="true") 
            second task 
  #user_mentee_exercises.user_exercise_style
    %ul.user_tracks-subnav
      %li 
        %a All
      %li 
        %a  
          %img(src="/assets/html5.png")
          Michael Ron
      %li.active 
        %a  
          %img(src="/assets/css3.png")
          Brad Pitt
      %li
        %a  
          %img(src="/assets/javascript.png")
          David Cameron
    .track_header
      .track_details
        .logo_n_name.item
          %img(src="/assets/css3.png")
          %h3 Css3
        .track_deadline.item
          %h5 to be completed by
          %p#date 12th June
        .track_mentor.item
          %h5 mentee
          %p Brad Pitt
      .progress_bar
    .section_each
      .exercise_purpose
        %p Your mentee Brad pitt has completed this exercise 
      %h5 Exercise
      .exercise_name
        %i.fa.fa-check-circle-o(aria-hidden="true")
        %h3 Exercise name
      %p.exercise_description
        This is exercise description
      .section_resources  
        %h5 Resources
        %p resource 1
        %p resource 2  
      .user_answers    
        %p
          Checkout my code at
          %a https://github.com/bradpitt/thisexercise
      .exercise-tasks_to_do
        %h4 Tasks to do
        %ul
          %li 
            %i.fa.fa-check-circle-o(aria-hidden="true") 
            first task
          %li 
            %i.fa.fa-check-circle-o(aria-hidden="true") 
            second task
          %li.add_a_task
            %span +
            %input(type="text" placeholder="Add a task")   
                       