:plain
  <div id="board" ng-controller="BoardController">
      <ul class="board_subnav nav nav-tabs" ng-model="active_tab" ng-init="active_tab = 'user_exercises'">
          <li ng-class="active_tab == 'user_exercises' ? 'active': 'inactive' "
              ng-click="change_tab('user_exercises')">
              <a href="">Your Exercises</a>
          </li>
          <li ng-class="active_tab == 'user_mentee_exercises' ? 'active': 'inactive' "
              ng-click="change_tab('user_mentee_exercises')">
              <a href="">Your Mentee Exercises</a>
          </li>
      </ul>

      <div class="tab-content">
          <div class="tab-pane user_exercise_style" ng-class="{active: active_tab === 'user_exercises'}">
            <div user-exercises></div>
          </div>

          <div class="tab-pane user_exercise_style" ng-class="{active: active_tab === 'user_mentee_exercises'}">
            <div user-mentee-exercises></div>
          </div>
      </div>
  </div>

:javascript
    PageConfig.currentUser = #{current_user.to_json};
    PageConfig.boardJson = #{@board_data.to_json};
