#board{"ng-controller" => "BoardController"}
  %ul.board_subnav.nav.nav-tabs{"ng-init" => "active_tab = 'user_tracks'", "ng-model" => "active_tab"}
    %li{"ng-class" => "active_tab == 'user_tracks' ? 'active': 'inactive' ", "ng-click" => "change_tab('user_tracks')"}
      %a{:href => ""} Your Tracks
      -#%span.badge{"ng-if" => 'notification_tree.user_tracks.has_notifications === true'} 20
    %li{"ng-class" => "active_tab == 'user_mentee_tracks' ? 'active': 'inactive' ", "ng-click" => "change_tab('user_mentee_tracks')"}
      %a{:href => ""} Your Mentee Tracks
      -#%span.badge{"ng-if" => 'notification_tree.user_mentee_tracks.has_notifications === true'} 20
  .tab-content
    .tab-pane.user_exercise_style{"ng-class" => "{active: active_tab === 'user_tracks'}"}
      %div{"user-tracks" => ""}
    .tab-pane.user_exercise_style{"ng-class" => "{active: active_tab === 'user_mentee_tracks'}"}
      %div{"user-mentee-tracks" => ""}

#todos

:javascript
    PageConfig.currentUser = #{current_user.to_json};
    PageConfig.boardJson = #{@board_data.to_json};
