=form_for @track do |f|
  .form-group
    =f.label :name
    =f.text_field :name, class: "form-control"
  .form-group
    =f.label :type
    =f.select :track_type, options_for_types,{} ,class: "form-control"

  =f.submit "Add Track", class: "btn btn-default"
