= link_to "Create a Track", new_track_path, class: "btn-primary_action track_list_btn", type: "button"
.container-fluid
  -@tracks.each do |track|
    .track_list
      .track_card
        .logo_track
          =image_tag track.image
        .content_track
          %h3= link_to track.name,track_sections_path(track)
          %p
            = track.desc
          %h4.exercise_bottom
            %span= track.sections.count
            Exercises
