-breadcrumb :tracks, @tracks
= link_to "Create Track", new_track_path, class: "btn-primary btn", type: "button"
.container-fluid
  -@tracks.each do |track|
    .row
      .col-md-8.col-md-offset-2.well
        %h3= link_to track.name,track_sections_path(track)
        %h3= track.track_type
