- if @track.errors.any?
  .row
    .alert.alert-danger.col-md-8.col-md-offset-2
      %ul
        - @track.errors.full_messages.each do |error|
          %li= error
.container
  -breadcrumb :new_track
  =render 'form'
