.form-inline
  = text_field_tag 'resources[name][]', name,class:"res_field", placeholder: "Resource name",id:"field-name"
  = text_field_tag 'resources[value][]', url,class:"res_field", placeholder: "Resource url", id:"field-value"
  %button.remove.add_resource_btn{:type => "button"}
    remove
