<div id="board">
    <ul class="board_subnav nav nav-tabs" ng-model="active_tab" ng-init="active_tab = 'user_exercises'">
        <li ng-class="active_tab == 'user_exercises' ? 'active': 'inactive' "
            ng-click="change_tab('user_exercises')">
            <a href="">Your Exercises</a>
        </li>
        <li ng-class="active_tab == 'user_mentee_exercises' ? 'active': 'inactive' "
            ng-click="change_tab('user_mentee_exercises')">
            <a href="">Your Mentee Exercises</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane user_exercise_style" ng-class="{active: active_tab === 'user_exercises'}">
            <ul class="user_tracks-subnav">
                <li class="active" select-subnav="All">
                    <a style="cursor: pointer">All</a>
                </li>
                <li ng-repeat="(track, track_info) in user_exercises" select-subnav="{{ track }}">
                    <a style="cursor: pointer">
                        <img ng-src="{{ track_info.image_url }}"/>
                        {{ track | capitalize }}
                    </a>
                </li>
            </ul>

            <div ng-repeat="(track, track_info) in sections.data" style="margin-top: 10px">
                <div class="track_header">
                    <div class="track_details">
                        <div class="logo_n_name item">
                            <img ng-src="{{ track_info.image_url }}"/>
                            <h3>{{ track | capitalize }}</h3>
                        </div>
                        <div class="track_deadline item">
                            <h5>to be completed by</h5>
                            <p>{{ track_info.deadline | date_filter | date: 'MMM dd' }}</p>
                        </div>
                        <div class="track_mentor item">
                            <h5>mentor</h5>
                            <p>{{ track_info.mentor.name }}</p>
                        </div>
                    </div>
                    <div class="progress_bar"></div>
                </div>
                <div class="section_each" ng-repeat="exercise in track_info.section_interactions">
                    <div class="exercise_purpose">
                        <small>You have {{ exercise.todos.length }} task(s) to do in this exercise</small>
                    </div>
                    <br>
                    <h5>Exercise</h5>
                    <div class="exercise_name">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        <h3>{{ exercise.title }}</h3>
                    </div>
                    <p class="exercise_description">
                        {{ exercise.content }}
                    </p>
                    <div class="section_resources">
                        <h5>Resources</h5>
                        <ul style="list-style-type: none;">
                            <li ng-repeat="resource in exercise.resources">
                                <a href="{{ resource.url }}" target="_blank">{{ resource.text }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="user_answers">
                        <p ng-if="exercise.mentee_comment !== null">
                            Checkout my code at
                            <a>https://github.com/bradpitt/thisexercise</a>
                        </p>
                        <div ng-if="exercise.mentee_comment === null" class="col-lg-12" style="margin-top: 5px">
                            <div class="row">
                                <input type="text" class="form-control col-lg-6 pull-left" placeholder="Answer">
                                <button class="btn btn-sm btn-primary col-lg-2" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="exercise-tasks_to_do" style="margin-top: 50px">
                        <h4>Tasks Todo</h4>
                        <ul>
                            <li ng-repeat="todo in exercise.todos">
                                <span>{{ todo.state }}</span>
                                <i class="fa " ng-class="todo.state == 'complete'? 'fa-check-circle-o' : 'fa-times-circle-o'" aria-hidden="true"></i>
                                {{ todo.content }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane user_exercise_style" ng-class="{active: active_tab === 'user_mentee_exercises'}">
            <ul class="user_tracks-subnav">
                <li class="active" select-subnav="All">
                    <a style="cursor: pointer">All</a>
                </li>
                <li ng-repeat="(id, mentee) in user_mentee_exercises" select-subnav="{{ id }}">
                    <a style="cursor: pointer">
                        <img ng-src="{{ mentee.avatar_url }}">
                        {{ mentee.name | capitalize }}
                    </a>
                </li>
            </ul>

            <div ng-repeat="(id, mentee) in sections.data" style="margin-top: 10px">
                <div ng-repeat="track in mentee.learning_tracks">
                    <div class="track_header">
                        <div class="track_details">
                            <div class="logo_n_name item">
                                <img ng-src="{{ track.image_url }}"/>
                                <h3>{{ track.name }}</h3>
                            </div>
                            <div class="track_deadline item">
                                <h5>to be completed by</h5>
                                <p>{{ track.deadline | date_filter | date: 'MMM dd' }}</p>
                            </div>
                            <div class="track_mentor item">
                                <h5>mentee</h5>
                                <p>{{ mentee.name }}</p>
                            </div>
                        </div>
                        <div class="progress_bar"></div>
                    </div>
                    <div class="section_each" ng-repeat="exercise in track.section_interactions">
                        <div class="exercise_purpose" ng-if="checkTodosStatus(id, track, exercise)">
                            <small>Your mentee {{ mentee.name | capitalize }} has completed this exercise</small>
                        </div>
                        <div class="exercise_purpose" ng-if="!checkTodosStatus(id, track, exercise)">
                            <small>Your mentee {{ mentee.name | capitalize }} has incomplete tasks in this exercise</small>
                        </div>

                        <h5>Exercise</h5>
                        <div class="exercise_name">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <h3>{{ exercise.title }}</h3>
                        </div>
                        <p class="exercise_description">
                            {{ exercise.content }}
                        </p>
                        <div class="section_resources">
                            <h5>Resources</h5>
                            <ul style="list-style-type: none;">
                                <li ng-repeat="resource in exercise.resources">
                                    <a href="{{ resource.url }}" target="_blank">{{ resource.text }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="user_answers">
                            <p>
                                Checkout my code at
                                <a>https://github.com/bradpitt/thisexercise</a>
                            </p>
                        </div>
                        <div class="exercise-tasks_to_do">
                            <h4>Tasks Todo</h4>
                            <ul>
                                <li ng-repeat="todo in exercise.todos">
                                    <i class="fa " ng-class="todo.state == 'complete'? 'fa-check-circle-o' : 'fa-times-circle-o'" aria-hidden="true"></i>
                                    {{ todo.content }}
                                </li>
                                <li class="add_a_task">
                                    <div class="input-group input-group-sm col-lg-5">
                                        <input type="text" class="form-control" ng-model="todo.content">
                                        <span class="input-group-btn">
                                          <button class="btn btn-primary" type="button" ng-click="add_task(exercise, todo)">Add task</button>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
