<div ng-if="section.editable">
  <div class="section__edit">
    <form>
        <div class="section__edit__exercise">
          <h3 class="heading">Exercise</h3>
          <div class="exercise__name">
            <label for="title">Name</label>
            <input id="title" type="text" name="title" ng-model="section.title">
            <span class="help-block"></span>
          </div>
          <div class="exercise__description">
              <label for="content">Description</label>
              <textarea  rows="5" name="content" class="form-control" id="content" ng-model="section.content">{{ section.content }}</textarea>
              <span class="help-block"></span>
          </div>
        </div>
        <div class="section__edit__resources">
          <h3 class="heading">Resources</h3>
          <div class="form-inline" ng-repeat="resource in section.resources track by $index">
            <input placeholder="Text" type="text" class="text res_field" ng-model="resource.text" >
            <input placeholder="URL" type="text" class="url res_field" ng-model="resource.url">
            <button type="button" class="btn--remove" ng-click="track.sections[$parent.$index].resources.splice($index,1);">
              <i class="material-icons">delete</i>
            </button>
          </div>
          <button class="btn--add" id="add_field" type="button" ng-click="addResource($index)">
            + Add A Resource
          </button>
        </div>
        <div class="section__crud">
          <div ng-if="section.newRecord" style="display: inline;">
            <input type="button" class="btn--raised" value="Create" ng-click="create_section(track, section, $event)">
          </div>
          <div ng-if="section.newRecord == false" style="display: inline;">
            <input type="button" class="btn--raised" value="Update" ng-click="update_section(track, section)">
          </div>
          <input type="button" class="btn--flat" value="Cancel" ng-click="cancel_section(section,$index)">
        </div>
    </form>
  </div>
</div>

<div class="track__content" ng-click="$parent.$parent.selectedIndex = ( $parent.$parent.selectedIndex == $index ? null : $index )">
  <div ng-if="section.editable == false">
      <div class="track__section">
        <div class="track__section__crud">
          <a ng-click="$parent.$parent.selectedIndex = ( $parent.$parent.selectedIndex == $index ? null : $index )">
            <i class="material-icons">{{ $parent.$parent.selectedIndex != $index ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</i>
          </a>
          <span ng-if="$parent.$parent.selectedIndex == $index">
            <a class="edit-section" ng-click="edit_section(section)">
              <i class="material-icons">edit</i>
            </a>
            <a class="delete-section" ng-click="delete_section($index, track, section)">
              <i class="material-icons">delete</i>
            </a>
          </span>
        </div>
        <div class="track__section__exercise">
          <h3 class="heading">Exercise</h3>
          <h2>{{section.title}}</h2>
          <p>{{ section.content }}</p>
        </div>
        <div class="track__section__resources" ng-if="$parent.$parent.selectedIndex == $index">
          <h3 class="heading">Resources</h3>
          <div ng-repeat="resource in section.resources">
            <div ng-if="resource.url">
              <a target="_blank" href="//{{ resource.url }}">{{ resource.text }}</a>
            </div>
            <div ng-if="!(resource.url)">
              <p>{{ resource.text }}</p>
            </div>
          </div>
          <div ng-hide = "section.resources.length">
            <p>No Resources</p>
          </div>
        </div>
      </div>
  </div>
</div>
