<div class="subnav" ng-if="Helper.keys(user_mentee_tracks).length != 0">
    <div ng-repeat="(id, track) in combined_mentee_tracks" select-subnav="{{ id }}" ng-class="$index == 0 ? 'active':''" class="tracks">
        <a class="tracks__name">    {{ user_mentee_tracks[track.mentee_id].name | capitalize }}</a>
    </div>
</div>
<div ng-if="Helper.keys(user_mentee_tracks).length == 0" style="padding: 20px;" class="text-center">
    <p>You do not have any mentees.</p>
</div>

<div ng-repeat="track in sections.data" style="margin-bottom: 20px;">


    <div class="section" ng-repeat="sectionInteraction in track.recent_incomplete_section_interactions">
        <div class="section__mentor">
            <p><span class="heading">track:</span>{{ track.name }}</p>
        </div>
        <div class="section__notify" ng-class="sectionInteraction.state" ng-if="sectionInteraction.state == 'new'">
            <small>{{ user_mentee_tracks[track.mentee_id].name | capitalize }} is yet to submit this exercise.</small>
        </div>

        <div class="section__notify" ng-class="sectionInteraction.state" ng-if="sectionInteraction.todos.length != 0 && checkMenteeTodosStatus(sectionInteraction) && sectionInteraction.state != 'section_completed'">
            <small>Your mentee {{ user_mentee_tracks[track.mentee_id].name | capitalize }} has completed all the tasks</small>
        </div>

        <div class="section__notify" ng-class="sectionInteraction.state" ng-if="sectionInteraction.state == 'section_completed'">
            <small>Your mentee {{ user_mentee_tracks[track.mentee_id].name | capitalize }} has completed this exercise</small>
        </div>

        <div class="section__notify" ng-class="sectionInteraction.state" ng-if="!checkMenteeTodosStatus(sectionInteraction)">
            <small>Your mentee {{ user_mentee_tracks[track.mentee_id].name | capitalize }} has incomplete tasks in this exercise</small>
        </div>
        <div class="section__notify" ng-class="sectionInteraction.state" ng-if="sectionInteraction.todos.length == 0 && sectionInteraction.state != 'new'">
            <small>No tasks assigned to {{ user_mentee_tracks[track.mentee_id].name | capitalize }}</small>
        </div>
        <div class="section__exercise">
            <h3 class="heading"> Exercise</h3>
            <h2>{{ sectionInteraction.title }}</h2>
            <p> {{ sectionInteraction.content }}</p>
        </div>
        <div class="section__resources">
            <h3 class="heading">Resources</h3>
            <p ng-repeat="resource in sectionInteraction.resources">
                <a href="{{ resource.url }}" target="_blank">{{ resource.text }}</a>
            </p>
        </div>
        <div class="section__answer" ng-if="sectionInteraction.mentee_notes != null">

            <h3 class="heading">{{ user_mentee_tracks[track.mentee_id].name | capitalize }}'s Answer</h3>
            <p>
                 {{ sectionInteraction.mentee_notes }}
            </p>
        </div>
        <div ng-if="sectionInteraction.state != 'new'" class="exercise-tasks_to_do" style="margin-bottom: 10px;">
            <h4>Tasks Todo</h4>
            <ul>
                <li ng-repeat="todo in sectionInteraction.todos" style="margin-bottom: 5px;">
                    <div class="row">
                        <div class="col-xs-10">
                            <div ng-if="!todo.edit">
                                <i class="material-icons" ng-click="sectionInteractionServices.update_mentees_todo(sectionInteraction, todo)" ng-class="todo.state" aria-hidden="true">check_circle</i>
                                <i class="material-icons" ng-click="sectionInteractionServices.update_mentees_todo(sectionInteraction, todo, true)"  ng-if="todo.state == 'to_be_reviewed'">cancel</i>
                                {{ todo.content }}
                            </div>
                            <input ng-if="todo.edit" class="form-control input-sm" ng-model="todo.content" value="{{ todo.content }}">
                        </div>
                        <div class="col-xs-2 edit-icons" ng-if="sectionInteraction.state != 'section_completed'">
                            <div ng-if="!todo.edit">

                                <i class="material-icons " ng-click="todo.edit = true;">mode_edit</i>
                                <i class="material-icons edit-icons" ng-click="sectionInteractionServices.delete_task(sectionInteraction, todo)">delete</i>

                            </div>
                            <div ng-if="todo.edit">

                                <i class="material-icons edit-icons" ng-click="todo.edit = false;">clear</i>

                                <i class="material-icons edit-icons" ng-click="sectionInteractionServices.update_task(sectionInteraction, todo)">done</i>

                            </div>
                        </div>
                    </div>
                </li>
                <li ng-if="sectionInteraction.state != 'section_completed'">
                    <div class="input-group input-group-sm col-xs-12">
                        <input type="text" class="form-control" ng-model="todo.content" ng-keypress="($event.which === 13)? sectionInteractionServices.add_task(sectionInteraction, todo) : 0">
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="button" ng-click="sectionInteractionServices.add_task(sectionInteraction, todo)">Add task</button>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
