<div class="board-subnav">
  <ul class="board-subnav-links" ng-if="Helper.keys(user_mentee_tracks).length != 0">
    <li ng-repeat="(id, track) in combined_mentee_tracks" select-subnav="{{ id }}" ng-class="$index == 0 ? 'active':''" class="mentees-list">
      <a class="tracks-name" ng-click="reloadSectionInteractions(track)">    {{ user_mentee_tracks[track.mentee_id].name | capitalize }} <span>({{ track.name }})</span></a>

      <span ng-if="trackActionTodoForMentor(track)" class="notification-dot"></span>

    </li>
  </ul>
</div>
<div ng-if="Helper.keys(user_mentee_tracks).length == 0" style="padding: 20px;" class="text-center">
  <p>You do not have any mentees.</p>
</div>

<div class="loading-track">
	<i class="fa fa-spinner fa-pulse"></i>
</div>

<div class="track">
  <div ng-repeat="track in sections.data" style="margin-bottom: 20px;">
    <div class="track-nav">
      <span class="track-deadline"> to be completed by {{track.deadline | date}}</span>
      <span class="track-nav-circle" ng-class="[ sectionInteraction.state ,{ 'selected' : selected == sectionInteraction.id }, {'expected-progress' : $index+1 == track.expected_progress}]" ng-repeat="sectionInteraction in track.section_interactions">
        <i class="material-icons" id="sec{{$index}}" ng-click="changeSectionInteraction(sectionInteraction)">
          {{sectionInteraction.state == "new" ? "" : sectionInteraction.state == "review_pending" || sectionInteraction.state == "section_completed" ? "check" : "remove"}}
        </i>
        <span ng-if="sectionInteractionActionTodoForMentor(sectionInteraction)" class="notification-dot"></span>
      </span>
    </div>
    <div class="section" style="min-height: {{track.section_interactions.length * 40}}px">
      <div class="track-mentor">
        <p><span class="heading">track:</span>{{ track.name }}</p>
      </div>

      <div class="helper-message" ng-class="sectionInteraction.state" ng-if="sectionInteraction.state == 'new'">
        {{ user_mentee_tracks[track.mentee_id].name | capitalize }} is working on the exercise. Please check later.
      </div>

      <div class="helper-message" ng-class="sectionInteraction.state" ng-if="sectionInteraction.todos.length != 0 && checkMenteeTodosStatus(sectionInteraction) && sectionInteraction.state != 'section_completed'">
        Your mentee {{ user_mentee_tracks[track.mentee_id].name | capitalize }} has completed all the tasks
        <span class="mark-complete" ng-click="sectionStatus(id, track, sectionInteraction)">MARK AS COMPLETE</span>
      </div>

      <div class="helper-message" ng-class="sectionInteraction.state" ng-if="sectionInteraction.state == 'section_completed'">
        Exercise Completed
      </div>

      <div class="helper-message" ng-class="sectionInteraction.state" ng-if="!checkMenteeTodosStatus(sectionInteraction)">
        Your mentee {{ user_mentee_tracks[track.mentee_id].name | capitalize }} has incomplete tasks in this exercise
      </div>

      <div class="helper-message" ng-class="sectionInteraction.state" ng-if="sectionInteraction.todos.length == 0 && sectionInteraction.state != 'new' && sectionInteraction.state != 'section_completed'">
        Please review the submitted exercise.
        <span class="mark-complete" ng-click="sectionStatus(id, track, sectionInteraction)">MARK AS COMPLETE</span>
      </div>

      <div class="section-exercise">
        <h3 class="heading"> Exercise</h3>
        <h2>{{ sectionInteraction.title }}</h2>
        <p> {{ sectionInteraction.content }}</p>
      </div>

      <div class="section-resources">
        <h3 class="heading">Resources</h3>
        <p ng-repeat="resource in sectionInteraction.resources">
        <a href="{{ resource.url }}" target="_blank">{{ resource.text }}</a>
        </p>
      </div>

      <div class="section-answer" ng-if="sectionInteraction.mentee_notes != null">
        <h3 class="heading">{{ user_mentee_tracks[track.mentee_id].name | capitalize }}'s Answer</h3>
        <p>{{ sectionInteraction.mentee_notes }}</p>
      </div>

      <div ng-if="sectionInteraction.state != 'new'" class="section-todos" style="margin-bottom: 10px;">
        <h3 class="heading">Tasks to do</h3>

        <ul>
          <li ng-repeat="todo in sectionInteraction.todos" style="margin-bottom: 5px; list-style: none;">
            <div class="row">
              <div class="col-xs-10">
                <div ng-if="!todo.edit">
                  <i class="material-icons" ng-click="sectionInteractionServices.update_mentees_todo(sectionInteraction, todo)" ng-class="todo.state" aria-hidden="true">check_circle</i>
                  <i class="material-icons" ng-click="sectionInteractionServices.update_mentees_todo(sectionInteraction, todo, true)"  ng-if="todo.state == 'to_be_reviewed'">cancel</i>
                  {{ todo.content }}
                </div>
                <input ng-if="todo.edit" class="form-control input-sm" ng-model="todo.content" value="{{ todo.content }}">
              </div>

              <div class="col-xs-2 edit-icons" ng-if="sectionInteraction.state != 'section_completed'">
                <div ng-if="!todo.edit">
                  <i class="material-icons " ng-click="todo.edit = true;">mode_edit</i>
                  <i class="material-icons edit-icons" ng-click="sectionInteractionServices.delete_task(sectionInteraction, todo)">delete</i>
                </div>
                <div ng-if="todo.edit">
                  <i class="material-icons edit-icons" ng-click="todo.edit = false;">clear</i>
                  <i class="material-icons edit-icons" ng-click="sectionInteractionServices.update_task(sectionInteraction, todo)">done</i>
                </div>
              </div>

            </div>
          </li>
          <li ng-if="sectionInteraction.state != 'section_completed'" style="list-style: none;">
            <div class="input-group input-group-sm col-xs-12">
              <i class="material-icons">add</i>
              <input placeholder="Add task" class="section-input" type="text" ng-model="todo.content" ng-keypress="($event.which === 13)? sectionInteractionServices.add_task(sectionInteraction, todo) : 0" >
              <button class="section-submit" ng-click="sectionInteractionServices.add_task(sectionInteraction, todo)">Add</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
