.add_exercise
  -breadcrumb :new_section, @track
  =form_for [@track, @section] do |f|
    =f.text_field :title, id: 'exercise_name'
    =label_tag 'exercise_name'
    =f.hidden_field :goal, class: "",placeholder: "EXERCISE GOAL"
    =f.text_area :content, class: "",placeholder: "EXERCISE DESCRIPTION", rows: "5"
    .resources
      %h4 Resources
      #resources
      - if @section.resources.present?
        - @section.resources.each do |name, url|
          = render 'resource_field', name: name, url: url
      %button.add_resource_btn#add_field{:href => "javascript:;", type: "button"}
        %span +
        Add A Resource
    .btn_save
      =f.submit "save"
  .hide#new_resource_field
    = render 'resource_field', name: nil, url: nil
