- if @section.errors.any?
  .row
    .alert.alert-danger.col-md-8.col-md-offset-2
      %ul
        - @section.errors.full_messages.each do |error|
          %li= error
.cover_photo
  .logo_add_area
    .logo_add
      %i +
      %p add a logo
  .track
    %h2 Track
    .progress_bar
.track_nav
  %ul
    %li
      Exercises          
=render 'form'