- if @section.errors.any?
  .row
    .alert.alert-danger.col-md-8.col-md-offset-2
      %ul
        - @section.errors.full_messages.each do |error|
          %li= error
.cover_photo
  .logo_track
    %img(src="" )
  .content_cover
    %h3
      Track Name
    .progress_bar
.sub_nav
  %h4.selected Exercises
=render 'form'
