%h2 Assigning
= f.label "select a mentee"
= f.select "mentee_id", options_from_collection_for_select(User.all, 'id', 'email')
%br
%br
<<<<<<< HEAD
=label_tag "select a track"
=select_tag "mentoring_track[track_id]", options_from_collection_for_select(Track.all, 'id', 'name')
=======
= f.label "select a track"
= f.select "id", options_from_collection_for_select(Track.all, 'id', 'name')
>>>>>>> 47b723ebdb6816c4f1d999ed01bb77c32696d082
