%h2 Assigning
= f.label "select a mentee"
= f.select "mentee_id", options_from_collection_for_select(User.all, 'id', 'email')
%br
%br
= f.label "select a track"
= f.select "id", options_from_collection_for_select(Track.all, 'id', 'name')
