%h4
  Add a Mentee Track
.heading
  %ul
    %li.completed
      Select mentee and track
    %li.completed
      Customize the track
    %li.active
      Confirm
#customise_exercises
  - @track_instance.section_interactions.each do |si|
    .exercise
      %h5 Exercise
      %h3= si.title
      %p= si.content
      .resources
        %h5 Resources
        - si.resources.each do |name,value|
          = link_to name, value
