%h4
  Add a Mentee Track
.heading
  %ul
    %li.completed
      Select mentee and track
    %li.completed
      Customize the track
    %li.active
      Confirm
#customise_exercises  
  %p Added mentee_name as a mentee to the track_name learning track   