%h2 Customizing

-@track.sections.each do |section|
  -section_dup = section.dup
  -section_interaction = SectionInteraction.create{section_dup}
  -section_interaction.title = section_dup.title
  %br
  =section_interaction.title
  %br
  -section_interaction.goal = section_dup.goal
  =section_interaction.goal
  %br
  -section_interaction.content = section_dup.content
  =section_interaction.content
  %br
  -section_interaction.code_url = section_dup.code_url
  =section_interaction.code_url
  -section_interaction.resources = section_dup.resources
  =link_to section_interaction.resources if section_interaction.resources.present?
  %br
  -section_interaction.save!




