<%= render "sections/templates" %>

<script class="hidden" type="text/x-handlebars-template" id="assigning_step_form">
<form class="assign_form" >
  <h4>
    Add a Mentee Track
  </h4>
  <div class="heading">
    <ul>
      <li class="active">
        Select mentee and track
      </li>
      <li>
        Customize the track
      </li>
      <li>
        Confirm
      </li>
    </ul>
  </div>
  <div id="select_box">
    <div class="select_a_mentee">
      <label>Select a mentee</label>
      <select class="select_mentee">
      {{#if users}}
        {{#each users}}
        <option value="{{id}}">{{first_name}}</option>
        {{/each}}
      {{/if}}
      </select>
    </div>
    <div class="select_a_track">
      <label>Select a track</label>
      <select class="select_track">
      {{#if tracks}}
        {{#each tracks}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      {{/if}}
      </select>
    </div>
  </div>
  <div class="buttons">
    <input type="submit" value="Next" class="btn btn-primary assign_next" >
  </div>
</form>
</script>


<script class="hidden" type="text/x-handlebars-template" id="customizing_step_form">
<form class="customize_form" >
  <h4>
    Add a Mentee Track
  </h4>
  <div class="heading">
    <ul>
      <li class="completed">
        Select mentee and track
      </li>
      <li class="active">
        Customize the track
      </li>
      <li>
        Confirm
      </li>
    </ul>
  </div>
  <div id="customise_exercises">
    {{#if sections}}
      {{#each sections}}
        <div class="exercise" data-section-id="{{id}}">
          <header>
            <div class="crud_elements">
              <a class="edit-section">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <div class="toggle">
                {{#if enabled}}
                <input class="tgl" type="checkbox" checked id="cb{{id}}"></input>
                {{else}}
                <input class="tgl" type="checkbox" id="cb{{id}}"></input>
                {{/if}}
                <label class="tgl-btn" for="cb{{id}}"></label>
              </div>
            </div>
          </header>
          <h5>Exercise</h5>
          <div class="exercise_name">
            <a>
              <i aria-hidden="true" class="fa fa-check-circle-o fa-lg"></i>
            </a>
            <h3>{{title}} </h3>
          </div>
          <p> {{content}} </p>
          <div class="resources">
            <h5>Resources</h5>
            {{#resources}}
              <div class="container-fluid">
                <div class="row">
                {{#if url}}
                <a target="_blank" href="//{{url}}">{{text}}</a>
                {{else}}
                <p>{{text}}</p>
                {{/if}}
                </div>
              </div>
            {{/resources}}
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  <div class="add_exercise add_exercise_btn">
    <a class="add_exercise_link">
      <span>+</span>
      Add an exercise
    </a>
  </div>
  <div class="buttons">
    <input type="button" value="Back" class="btn btn-primary back" >
    <input type="button" value="Cancel" class="btn btn-primary reset" >
    <input type="submit" value="Next" class="btn btn-primary customize_next" >
  </div>
</form>
</script>


<script class="hidden" type="text/x-handlebars-template" id="confirming_step_form">
<form class="confirm_form" >
  <h4>
    Add a Mentee Track
  </h4>
  <div class="heading">
    <ul>
      <li class="completed">
        Select mentee and track
      </li>
      <li class="completed">
        Customize the track
      </li>
      <li class="active">
        Confirm
      </li>
    </ul>
  </div>
  <div id="confirming_exercises">
    {{#if sections}}
      {{#sections}}
        <div class="exercise" data-section-id="{{id}}">
          <h5>Exercise</h5>
          <div class="exercise_name">
            <a>
              <i aria-hidden="true" class="fa fa-check-circle-o fa-lg"></i>
            </a>
            <h3>{{title}} </h3>
          </div>
          <p> {{content}} </p>
          <div class="resources">
            <h5>Resources</h5>
            {{#resources}}
              <div class="container-fluid">
                <div class="row">
                {{#if url}}
                <a target="_blank" href="//{{url}}">{{text}}</a>
                {{else}}
                <p>{{text}}</p>
                {{/if}}
                </div>
              </div>
            {{/resources}}
          </div>
        </div>
      {{/sections}}
    {{/if}}
  </div>
  <div class="buttons">
    <input type="button" value="Back" class="btn btn-primary back" >
    <input type="button" value="Cancel" class="btn btn-primary reset" >
    <input type="submit" value="Confirm" class="btn btn-primary confirming_next" >
  </div>
</form>
</script>


<script class="hidden" type="text/x-handlebars-template" id="section_interaction_template">
  <div class="exercise" data-section-id="{{id}}">
    <header>
      <div class="crud_elements">
        <a class="edit-section">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <div class="toggle">
          {{#if enabled}}
          <input class="tgl" type="checkbox" checked id="cb{{id}}"></input>
          {{else}}
          <input class="tgl" type="checkbox" id="cb{{id}}"></input>
          {{/if}}
          <label class="tgl-btn" for="cb{{id}}"></label>
        </div>
      </div>
    </header>
    <h5>Exercise</h5>
    <div class="exercise_name">
    <a>
      <i aria-hidden="true" class="fa fa-check-circle-o fa-lg"></i>
    </a>
      <h3>{{title}}</h3>
    </div>
    <p class="exercise_description">
      {{content}}
    </p>
    <div class="resources">
      <h5>Resources</h5>
      {{#if resources}}
      {{#each resources}}
        <div class="container-fluid">
          <div class="row">
            {{#if url}}
            <a target="_blank" href="//{{url}}">{{text}}</a>
            {{else}}
            <p>{{text}}</p>
            {{/if}}
          </div>
        </div>
      {{/each}}
      {{else}}
        <div class="container-fluid">
          <div class="row">
            <p>No Resources</p>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</script>


<script class="hidden" type="text/x-handlebars-template" id="show_section_interactions">
  <div id="customise_exercises">
    {{#if sections}}
      {{#each sections}}
        <div class="exercise" data-section-id="{{id}}">
          <header>
            <div class="crud_elements">
              <a class="edit-section">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <div class="toggle">
                {{#if enabled}}
                <input class="tgl" type="checkbox" checked id="cb{{id}}"></input>
                {{else}}
                <input class="tgl" type="checkbox" id="cb{{id}}"></input>
                {{/if}}
                <label class="tgl-btn" for="cb{{id}}"></label>
              </div>
            </div>
          </header>
          <h5>Exercise</h5>
          <div class="exercise_name">
          <a>
            <i aria-hidden="true" class="fa fa-check-circle-o fa-lg"></i>
          </a>
            <h3>{{title}}</h3>
          </div>
          <p class="exercise_description">
            {{content}}
          </p>
          <div class="resources">
            <h5>Resources</h5>
            {{#resources}}
              <div class="container-fluid">
                <div class="row">
                {{#if url}}
                <a target="_blank" href="//{{url}}">{{text}}</a>
                {{else}}
                <p>{{text}}</p>
                {{/if}}
                </div>
              </div>
            {{/resources}}
          </div>
          <div class="tasks">
            <h4>Tasks to review</h4>
            {{#todos}}
              <div class="container-fluid" todo-id="{{id}}">
                <div class="task row">
                <a>
                <span><i class="fa fa-check-circle-o {{state}} todo-check"></i></span>
                </a>
                <p>
                  {{content}}
                </p>
                <a class="todo-delete">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
                </div>
              </div>
            {{/todos}}
          </div>
          <div class="add_todo">
            <a>
              <span>+</span>
              Add a todo
            </a>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  <div class="add_exercise add_exercise_btn">
    <a class="add_exercise_link">
      <span>+</span>
      Add an exercise
    </a>
  </div>
</script>


<script class="hidden" type="text/x-handlebars-template" id="todo_form">
<form class="todo add_a_task">
  <span>+</span>
  <input type="text" placeholder="Add a task" class="todo_text"/>
  <input type="button" value="Add" class="submit_todo"/>
</form>
</script>


<script class="hidden" type="text/x-handlebars-template" id="show_todo">
<div class="container-fluid" todo-id="{{id}}">
  <div class="row task">
    <a >
    <span><i class="fa fa-check-circle-o {{state}} todo-check"></i></span>
    </a>
    <p>
      {{content}}
    </p>
    <a class="todo-delete">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</div>
</script>
