%button.btn-primary_action.track_list_btn
  =link_to "Add a mentee track", new_mentoring_track_path
.track_list
  -@mentoring_tracks.each do |m_track|
    .track_card
      -m_track.track_instances.each do |ti|
        .logo_track
          =image_tag "https://mentorhub-development.s3.amazonaws.com/uploads/track/image/4/html.png"
          -#=image_tag track.image
        .content_track
          %h3= ti.name
          .details
            .mentee_deadline
              %h4 to be completed by
              %p 12th June
            .mentee_name
              %h4 Mentee
              %p= m_track.mentee.name
          .progress_bar
