- #breadcrumb :mentoring_tracks, @mentoring_track

= link_to "Add a mentee Track",  new_mentoring_track_path, class: "track_list_btn btn btn-primary"
.track_list
  -@mentoring_tracks.each do |m_track|
    .track_card
      -m_track.track_instances.each do |ti|
        .logo_track
          =image_tag ti.image
        .content_track
          %h3= link_to ti.name,mentoring_track_path(ti)
          .details
            .mentee_deadline
              %h4 to be completed by
              %p 12th June
            .mentee_name
              %h4 Mentee
              %p= m_track.mentee.first_name
          .progress_bar

-# .tracks
-#   - @mentoring_tracks.each do |m_track|
-#     - m_track.track_instances.each do |ti|
-#       - if ti.mentor_id == current_user.id
-#         .mentoring_tracks
-#           %p.track_name= ti.name
-#           Mentee:
-#           = m_track.mentee.name
-#   - if current_user.track_instances.blank?
-#     %p You are not currently mentoring anyone. Click "Add a mentee track" to add mentees

-# .add_button
-#   =link_to "Add a mentee track", new_mentoring_track_path, class: "adding_track"
