- breadcrumb :mentoring_tracks, @track

%div.track-container{"ng-controller" => "MentoringTrackShowController"}
  .track_info
    %div{:track => ""}
    %div{"ng-repeat" => "section in track.sections track by $index", "section-interactions" => ""}
    %a.track__section__new{"ng-click" => "add_exercise()"}
      %span +
      Add an exercise

:javascript
  var MentoringTrackShowConfig = {
    track: #{@track.to_json},
    sections: #{@section_interactions.to_json},
    section: #{@section_interaction.to_json}
  };