- breadcrumb :mentoring_tracks, @track

:plain
  <div ng-controller="MentoringTrackShowController">
    <div id="section_index">
      <div class="track_info">
        <div track></div>
      </div>
      <div class="sub_nav">
        <h4 class="selected">Exercises</h4>
      </div>
      <div id="show_track_sections" class="show_track_instance">
        <div section-interactions ng-repeat="section in track.sections track by $index">
        </div>
      </div>
      <div class="add_exercise add_exercise_btn">
        <a class="add_exercise_link" ng-click="add_exercise()">
          <span>+</span>
          Add an exercise
        </a>
      </div>
    </div>
  </div>


:javascript
  var MentoringTrackShowConfig = {
    track: #{@track.to_json},
    sections: #{@section_interactions.to_json},
    section_new: #{@section_interaction_new.to_json}
  };
