%div{"ng-controller" => "TracksController"}
  %a.track_list_btn.btn.btn-primary{:href => "/track_templates/new"} New Track Template
  .container-fluid
    .track_list
      %div{"ng-repeat" => "trackTemplate in trackTemplates"}
        .track_card
          .logo_track
            %img{"ng-src" => "{{ trackTemplate.image.image.url }}"}/
          .content_track
            %h3
              %a{:href => "/track_templates/{{ trackTemplate.id }}"} {{ trackTemplate.name }}
            %p {{ trackTemplate.desc }}

:javascript
    PageConfig.trackTemplates = #{@track_templates.to_json};