%div{"ng-controller" => "TracksController"}
  %a.add-track__btn{:href => "/track_templates/new"} Add a Track
  .tracks-index
    %div{"ng-repeat" => "trackTemplate in trackTemplates"}
      %a{:href => "/track_templates/{{ trackTemplate.id }}"}
        .track-each
          .track-each__logo
            %img{"ng-src" => "{{ trackTemplate.image.image.url }}"}/
          .track-each__content
            %h3 {{ trackTemplate.name }}
            %p {{ trackTemplate.desc }}

:javascript
    PageConfig.trackTemplates = #{@track_templates.to_json};