.home-page
  %h1.headline Optimize mentoring culture in your organization
  .form_style
    =link_to user_google_oauth2_omniauth_authorize_path, class:"google_login" do
      %i.fa.fa-google-plus-official(aria-hidden="true")
      Start now using Google
    -#%p or
    -#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    -#  .field
    -#    = f.email_field :email, autofocus: true, placeholder: "EMAIL ADDRESS"
    -#  .field
    -#    = f.password_field :password, autocomplete: "off", placeholder: "PASSWORD"
    -#  .actions
    -#  = f.submit "Log in", class:"btn action_btn"
    -#= link_to "Forgot password?", new_password_path(resource_name)
    -#%hr
    -#%h2 I'm new here
    -#= link_to "Sign up", new_registration_path(resource_name)
.work-steps
  .step
    %img(src="/assets/group.png")
    %h2 Create an account
    %p Create an account for your organisation. Add members to it by sending invitations.
  .step
    %img(src="/assets/track.png")
    %h2 Add a learning track
    %p Add the learning tracks for the topics
  .step
    %img(src="/assets/meeting.png")
    %h2 Start Mentoring
    %p Connect to the mentor on topic and learn from the experiences.