!!!
%html
  %head
    %link(rel="stylesheet" type="text/css" href="create_a_track.css" )
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" )
  %body
    %nav
      %img.logo(src= "assets/mentorhub_logo.png" alt="mentorhub_logo")
      %ul.primary_nav
        %li
          %a(href="#" )Your Board
        %li
          %a(href="#")Learning Tracks
        %li
          %a(href="#" )Mentees Tracks
        %li
          .selected Tracks
      %ul.profile
        %li
          %img(src="assets/profile_dp.jpg" alt="profile_pic" )
        %li.profile_name David Millan
    .cover_photo
      .bread_crumbs
        %ul
          %li Home
          %li Tracks
          %li Creating a track
      .logo_add_area
        .logo_add
          %i +
          %p add a logo
      .track
        %h2 Track
        .progress_bar
    .track_nav
      %ul
        %li
          Exercises
    .add_exercise.add_exercise_btn
      %a.add_exercise_link(href="create_an_exercise.html" )
        %span +
        Add an exercise
