!!!
%html
  %head
    %link(rel="stylesheet" type="text/css" href="learning_tracks.css" )
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" )
  %body
    %nav
      %img.logo(src= "assets/mentorhub_logo.png" alt="mentorhub_logo")
      %ul.primary_nav
        %li
          %a(href="#" )Your Board
        %li
          .selected Learning Tracks
        %li
          %a(href="#" )Mentees Tracks
        %li
          %a(href="#") Tracks
      %ul.profile
        %li
          %img(src="assets/profile_dp.jpg" alt="profile_pic" )
        %li.profile_name David Millan
    .tracks
      .track_1
