!!!
%html
  %head
    %link(rel="stylesheet" type="text/css" href="login.css" )
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" )
  %body
    %nav
      %img.logo(src= "assets/mentorhub_logo.png" alt="mentorhub_logo")
      %ul
        %li
          .selected login
        %li
          %a(href="signup.html" )
            %button
              Sign up
    .form_style
      %h2
        Log In
      %form
        %button.google_login.btn
          %i.fa.fa-google-plus-official(aria-hidden="true")
          Log in with Google
        %p or
        %label(for="email_login")
          %input(id="email_login" type="email" placeholder="EMAIL ADDRESS")
        %label( for="password_login")
          %input(id="password_login" type="password" placeholder="PASSWORD" )
        %button.btn.action_btn
          Log in
      %a(href="#" ) Forgot password?
      %hr
      %h2 I'm new here
      %a(href="#" ) Create an account