@import 'material';
$bg: #e9ebee;
$border: #c5c7c9;
$primary: #056ab2;
$text: #333333;
$secondary: #888888;
$red: #F28379;
$green: #598D09;
$yellow: #F0AD4E;
#board {
    display: block;
    margin: 10px auto;
    max-width: 895px;
    min-width: 760px;
    .nav-tabs {
        border-bottom: 1px solid $border;
    }
    .nav-tabs > li.active >a {
        border: 1px solid $border;
        border-bottom-color: transparent;
    }
    .board_subnav {
        .inactive {
            background-color: $primary;
            border-radius: 3px 3px 0 0;
            a {
                color: white;
                background-color: transparent;
            }
        }
        .inactive > a:hover {
            border: 1px solid $primary;
            background-color: $primary;
        }
    }
    .user_exercise_style {
        background-color: white;
        border: 1px solid $border;
        border-top: none;
        border-radius: 0 0 3px 3px;
        padding: 16px;
        padding-top: 4px;
        .user_tracks-subnav {
            background-color: #fafafa;
            height: 42px;
            margin-bottom: 4px;
            li {
                height: 20px;
                opacity: 0.4;
                line-height: 20px;
                font-size: 12px;
                display: inline-block;
                list-style: none;
                margin: 0 6px;
                a {
                    color: $text;
                }
                img {
                    vertical-align: top;
                    margin-top: 4px;
                    width: 12px;
                    height: 12px;
                }
            }
            .tracks,
            .mentees {
                width: 800px;
                margin: auto;
            }
            .tracks__name,
            .mentee__name {
                display: inline-block;
                color: #888888;
                text-decoration: none;
                line-height: 22px;
                padding: 10px 20px;
            }
            .active {
                opacity: 1;
            }
        }
        .track_header {
            border: 1px solid $border;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
            .track_details {
                display: flex;
                height: 30px;
                margin-bottom: 10px;
                h5 {
                    text-transform: uppercase;
                    font-size: 10px;
                    color: $secondary;
                    margin: 0;
                }
                .item {
                    flex-grow: 1;
                }
                .logo_n_name {
                    text-align: left;
                    img {
                        width: 24px;
                        height: 24px;
                        vertical-align: top;
                        margin-top: 3px;
                        display: inline-block;
                    }
                    h3 {
                        display: inline-block;
                    }
                }
                .track_deadline {
                    text-align: center;
                    #date {
                        position: relative;
                        right: 33px;
                    }
                }
                .track_mentor {
                    text-align: right;
                }
                h3 {
                    margin: 0;
                }
            }
            .progress {
                position: relative;
                .expected_progress {
                    height: 12px;
                    width: 4px;
                    border-radius: 2px;
                    position: absolute;
                    top: 0;
                    background-color: red;
                }
            }
        }
        .section_each {
            position: relative;
            h5 {
                margin-top: 6px;
                margin-bottom: 4px;
            }
            .exercise_name {
                i {
                    vertical-align: top;
                    margin-top: 5px;
                }
                h3 {
                    line-height: 24px;
                }
            }
            .exercise_purpose {
                background-color: #f7f7f7;
                height: 32px;
                font-size: 16px;
                vertical-align: middle;
                line-height: 22px;
                padding: 5px 0 5px 12px;
                &.section_completed {
                    border-left: 8px solid $green;
                    // background-color: $green;
                }
                &.section_submitted,
                &.review_pending {
                    border-left: 8px solid $yellow;
                    // background-color: $yellow;
                }
                &.tasks_pending {
                    border-left: 8px solid $red;
                    // background-color: $red;
                }
                &.new {
                    border-left: 8px solid $border;
                    // background-color: $border;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .user_answers {
                p {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .section__answer__input {
                    border: none;
                    border-bottom: 1px solid #d8d8d8;
                    width: calc(100% - 70px);
                }
                .section__answer__input:focus {
                    outline: none;
                    border-bottom: 2px solid #25A6F7;
                }
                .section__answer__submit {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 600;
                    color: #25A6F7;
                    background-color: white;
                    border: none;
                    width: 60px;
                    line-height: 22px;
                    padding: 2px 6px;
                }
                // input[type="text"]{
                //   height: 30px;
                //   border: 1px solid $border;
                //   border-radius: 3px;
                //   width: 80%;
                // }
                // .btn-primary_action{
                //   margin-left: -2px;
                // }
            }
            .exercise-tasks_to_do {
                h4 {
                    font-weight: 600;
                    margin-bottom: 4px;
                }
                ul {
                    margin-bottom: 0;
                    li {
                        list-style: none;
                    }
                    i {
                        color: $red;
                    }
                }
            }
        }
    }
    #user_mentee_exercises {
        .exercise_purpose {
            background-color: rgba(240, 173, 78, 0.2);
        }
        .exercise-tasks_to_do {
            .add_a_task {
                margin-top: 4px;
                span {
                    position: absolute;
                    display: inline-block;
                    width: 16px;
                    height: 20px;
                    font-size: 14px;
                    line-height: 20px;
                    color: $primary;
                    padding: 0 4px;
                }
                input[type="text"] {
                    vertical-align: top;
                    width: 80%;
                    height: 20px;
                    border: 1px solid $border;
                    border-radius: 3px;
                    padding-left: 16px;
                    font-size: 12px;
                }
            }
        }
    }
}