$bg: #e9ebee;
$border: #c5c7c9;
$primary: #056ab2;
$text: #333333;
$secondary: #888888;
*{
  margin:0;
  padding:0;
}
.cover_photo{
  position: relative;
  .logo_add_area{
    display: block;
    width: 20%;
    position: relative;
    .logo_add{
      cursor: pointer;
      width: 90px;
      height: 90px;
      text-align: center;
      margin: 0 auto 24px;
      img{
        height:6em;
      }
    }
  }
  .track{
    vertical-align: bottom;
    margin-left: -4px;
    margin-bottom: 14px;
    display: inline-block;
    width: 60%;
    h2{
      font-weight: 500;
    }
    .progress_bar{
      margin-top: 10px;
      width:100%;
      height:12px;
      background-color: $secondary;
      border-radius: 2px;
    }
  }
}
.track_nav{
  width: 100%;
  height: 36px;
  background-color: white;
  vertical-align: middle;
  ul{
    margin-left: 20%;
    li{
      font-weight: 600;
      line-height: 24px;
      margin: 6px 0;
      border-bottom: 4px solid $primary;
      padding-bottom: 2px;
      display: inline-block;
    }
  }
}
.add_exercise,.add_track{
  position: relative;
  width: 60%;
  margin: auto;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid $border;
  margin-top: 12px;
  color: $secondary;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 3px;

  .add_exercise_link{
    cursor: pointer;
    text-decoration: none;
    color: $secondary;
    span{
      padding-right: 10px;
      font-size: 20px;
      color: $primary;
    }
  }
  h4{
    margin:0 0 6px 0;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 10px;
    color: $secondary;
  }
  input[type="text"],textarea{
    /*height: 24px;*/
    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 8px 16px;
    background-color: white;
    border: 1px solid $border;
    border-radius: 3px;
    font-size: 12px;
    width: 100%;
  }

  .res_field{
    width: 40% !important;
  }
  input:focus + .test1{
    display: none;
  }
  textarea{
    width: 100%;
    box-sizing: border-box;
    padding:  16px;
    padding-top: 8px;
    background-color: white;
    border: 1px solid $border;
    border-radius: 3px;
  }
  .resources{
    box-sizing: border-box;
    border: 1px solid $border;
    padding: 16px;
    border-left: 2px solid $primary;
    .add_resource_btn{
      cursor: pointer;
      position: relative;
      height: 24px;
      border: 1px solid $primary;
      border-radius: 3px;
      color: $primary;
      background-color: white;
      padding: 0 10px;
      font-size: 12px;
    }
  }
  .btn_save{
    width: 100%;
    margin-top: 10px;
    text-align: right;
    input{
      margin-right: 16px;
      padding: 6px 10px;
      height: 30px;
      box-sizing: border-box;
      display: inline-block;
      background-color: $primary;
      color: white;
      font-size: 14px;
      border: none;
      border-radius: 3px;
    }
  }
}
.add_exercise_btn{
  padding: 6px 16px;
  background-color: white;
}
#create_track_btn{
  float:right;
  margin: 10px 62px;
  border-radius:3px !important;

}
#track_list{
  .track_card{
    position:relative;
    width:60%;
    margin:0 20%;
    border:1px solid $border;
    border-radius:3px;
    background-color:white;
    height:180px;
    margin-top:10px;
    .logo_track{
      background-color: rgba(5,106,176,0.1);
      display:inline-block;
      width:180px;
      height:180px;
      img{
        width:90px;
        height:90px;
        margin: 45px;
      }
    }
    .content_track{
      position:relative;
      vertical-align:top;
      padding:16px;
      display:inline-block;
      width: calc( 99% - 180px);
      height:180px;
      margin-left: -4px;
      color:$text;
      box-sizing: border-box;
      h3{
        margin:0;
        font-size:30px;
      }
      p{
        margin-top:10px;
        font-size:14px;
      }
      h4{
        position:absolute;
        bottom:16px;
        left:16px;
        text-transform: uppercase;
        font-size:12px;
        color: $secondary;
      }
    }
  }
}
