@import "bootstrap-sprockets";
@import "bootstrap";

$bg: #e9ebee;
$border: #c5c7c9;
$primary: #056ab2;
$text: #333333;
$secondary: #888888;

p{
  margin:0;
}

.breadcrumb{
}

#logo{
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
}

html,
body {
  font-size: 1em;
  font-family: "Open Sans";
  background-color: $bg;
}
.breadcrumb > li + li:before {
  content: ">" !important;
}

.mentoring_tracks{
  border: 1px solid #D5D6D9;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 3px;
  margin:30px;
}

.tracks, .add_button{
  display: inline-block;
}

.add_button {
  position: absolute;
  top:130px;
}

.tracks{
  width: 90%;
}

.track_name{
  color: #495056;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.adding_track{
  padding: 8px;
  border: 1px solid #D5D6D9;
  background: #056AB2;
  color: white;
}
