@import "bootstrap-sprockets";
@import "bootstrap";

$bg: #e9ebee;
$border: #c5c7c9;
$primary: #056ab2;
$text: #333333;
$secondary: #888888;

* {
  margin: 0;
  padding: 0; }
  
p{
	margin:0;
}

.breadcrumb{
}

#logo{
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 700;
}

html,
body {
  font-size: 1em;
  font-family: "Open Sans";
  background-color: $bg;
}
.breadcrumb > li + li:before {
    content: ">" !important;
}