$bg: #e9ebee;
$border: #c5c7c9;
$primary: #056ab2;
$text: #333333;
$secondary: #888888;

.home-page{
    background-image: image-url("home-image.png");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
    height: 520px;
    display: block;
    padding-top:120px;
}
.headline{
  font-size: 56px;
  max-width: 900px;
  margin: auto;
  color: white;
  text-align: center;
  letter-spacing: 0.4px;
}
.google_login {
        margin: 40px auto;
        position: relative;
        display: block;
        width: 240px;
        background-color: #1B68C5;
        color: white;
        cursor: pointer;
        height: 40px;
        border: none;
        font-size: 16px;
        border-radius: 3px;
        padding: 6px 14px;
        line-height: 28px;
    i {
      font-size: 18px;
      text-align: left;
      line-height: 24px;
      margin-right: 10px;
    }
}
.google_login:hover{
  text-decoration: none;
  color: #1B68C5;
  background-color: white;
  border: 1px solid #1B68C5;
}
.work-steps{
    display: flex;
    padding:  40px 0;
}
.step{
    text-align: center;
    width: 33%;
    img{
        width: 64px;
        height: 64px;
    }
    h2{
        font-size: 20px;

    }
    p{
    width: 70%;
      margin: auto;
    }
}
