* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Open Sans";
    background-color: #fafafa;
}

.board-subnav {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);

    .board-subnav-links {
        width: 790px;
        height: 42px;
        margin: 0 auto;

        li {
            text-align: center;

            &.active {
                a {
                    color: #375165;
                    border-bottom: 2px solid #375165;
                    font-weight: 600;
                    font-size: 15px;
                }

                ::selection {
                    background: white;
                }
            }

            a {
                font-size: 14px;
            }
        }

        .slick-next:before,
        .slick-prev:before {
            color: #9b9b9b;
        }

        a:active,
        a:focus {
            background-image: none;
            outline: 0;
            box-shadow: none;
        }
    }

    .tracks-name {
        display: inline-block;
        color: #888888;
        text-decoration: none;
        line-height: 22px;
        padding: 9px 20px;
        box-sizing: border-box;

        span {
            font-size: 12px;
        }
    }

    .mentees-list,
    .org-list,
    .tracks-list {
        float: left;
        list-style-type: none;
        cursor: pointer;
        position: relative;

        .notification-dot {
            top: 25%;
        }
    }
}

.tracks {
    width: 800px;
    margin: auto;
}
/* track nav */
.track {
    width: 880px;
    margin: auto;
    position: relative;

    .track-mentor {
        position: absolute;
        right: 0;
        top: -24px;
    }

    .track-deadline {
        position: absolute;
        width: 110px;
        left: -120px;
        bottom: 2px;
        font-size: 12px;
        text-align: right;
    }
}

.track-nav {
    position: absolute;
    display: flex;
    flex-direction: column;

    .track-nav-circle {
        width: 24px;
        height: 24px;
        border: 1px solid #9b9b9b;
        border-radius: 50%;
        margin-bottom: 12px;
        cursor: pointer;
        box-sizing: border-box;
        padding: 2px;
        position: relative;

        i {
            font-size: 20px;
            vertical-align: top;
            align-self: center;
        }

        &.selected:before {
            content: "";
            display: inline-block;
            border-right: 14px solid #777777;
            border-bottom: 7px solid transparent;
            border-top: 7px solid transparent;
            position: absolute;
            top: 5px;
            left: 27px;
        }
    }

    .feedback_captured,
    .section_completed {
        border-color: #598d09;
        color: #598d09;
    }

    .review_pending,
    .section_submitted {
        border-color: #f0ad4e;
        color: #f0ad4e;
    }

    .section_incomplete,
    .tasks_pending {
        border-color: #f14133;
        color: #f14133;
    }

    .track-nav-circle::after {
        content: "";
        display: block;
        position: relative;
        width: 1px;
        height: 14px;
        background-color: #9b9b9b;
        left: 8.5px;
    }

    .track-nav-circle:last-child::after {
        display: none;
    }
}
/* section */
.heading {
    font-size: 13px;
    font-weight: 600;
    color: #757575;
    padding-bottom: 6px;
    margin: 0 6px 0 0;
}

.section {
    width: 790px;
    margin: 28px auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.23);
    position: relative;

    p {
        margin-bottom: 0;
    }

    .tasks {
        margin-bottom: 5px;
        list-style: none;

        .material-icons {
            font-size: 18px;
            vertical-align: text-top;
            margin-right: 6px;
        }

        .tasks__each {
            display: block;
            width: 100%;
        }

        .tasks__each__content {
            display: inline-block;
            width: calc(100% - 60px);

            > .section-input {
                width: calc(100% - 40px);
            }
        }

        .tasks__each__edit-icons {
            display: inline-block;
            width: 50px;
            text-align: end;

            .material-icons {
                cursor: pointer;
                font-size: 16px;
                color: #9b9b9b;
            }
        }
    }

    .helper-message {
        background-color: #ededed;
        height: 38px;
        font-size: 16px;
        vertical-align: middle;
        line-height: 22px;
        padding: 8px 12px;
        border-left: 8px solid grey;

        &.new {
            border-color: grey;
        }

        &.feedback_captured,
        &.section_completed {
            border-color: #598d09;
        }

        &.review_pending,
        &.section_submitted {
            border-color: #f0ad4e;
        }

        &.section_incomplete,
        &.tasks_pending {
            border-color: #f14133;
        }
    }

    .mark-complete {
        position: relative;
        float: right;
        top: -4px;
        cursor: pointer;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .section-exercise {
        padding: 10px 20px;
        border-bottom: 1px solid #ececec;

        h2 {
            font-weight: 500;
            font-size: 22px;
            margin: 0 0 12px;
        }

        p {
            white-space: pre-wrap;
        }
        .learning-objectives{
          padding-left: 12px;
        }
    }

    .section-resources {
        padding: 10px 20px;
        border-bottom: 1px solid #ececec;
    }

    .section-answer {
        padding: 10px 20px;
        border-bottom: 1px solid #ececec;
        .section-exercise-challenge{
          font-weight: 600;
        }
    }

    .section-input {
        border: none;
        border-bottom: 1px solid #d8d8d8;
        width: calc(100% - 100px);
        outline: none;

        &:focus {
            outline: none;
            border-bottom: 2px solid #25A6F7;
        }
    }

    .section-submit {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: #25A6F7;
        background-color: white;
        border: none;
        width: 60px;
        line-height: 22px;
        padding: 2px 6px;
    }

    .section-todos {
        padding: 10px 20px 20px;
        border-bottom: 1px solid #ececec;

        li {
            list-style: none;
        }

        input {
            margin-right: 4px;
        }

        .section-input {
            margin-left: 6px;
            width: calc(100% - 100px);
        }

        .section-todos-add {
            display: block;
            width: 100%;

            i {
                font-size: 18px;
                vertical-align: text-top;
            }
        }
    }
    .section-questions{
      padding: 10px 20px;
    }
    .section-questions-add, .section-answer-input{
      input{
        width:80%;
        border: 1px solid #9b9b9b;
        height: 30px;
        border-radius: 3px;
        padding: 8px;
        margin-top: 4px;
        display: block;
      }
      .btn--raised{
        display: inline-block;
        text-align: none;
        margin-top: 4px;
        font-size: 10px;
        padding: 0 8px;
        height: 24px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
    .section-answer-input{
        position: relative;
        right: -20%;

    }
    .section-questions-asked{
      background-color: #EDEDF5;
      padding: 6px 12px;
      width: 80%;
      margin-bottom: 4px;
    }
    .section-questions-answered{
      padding: 6px 12px;
      width: 80%;
      border: 1px solid #ededf5;
      margin-bottom: 8px;
      position: relative;
      border-radius: 3px;
      right: -20%;
    }
}


#section__to-dos__redo-icon {
    font-size: 15px;
    font-size: 600;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid #9b9b9b;
}
@keyframes blink {
    0% {
        background: red;
    }

    100% {
        background: #337ab7;
    }
}
@-webkit-keyframes blink {
    0% {
        background: red;
    }

    100% {
        background: #337ab7;
    }
}

.notification-dot {
    width: 10px;
    height: 10px;
    background: #337ab7;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -4px;
}

.expected-progress {
    box-shadow: inset 0 0 0 5px white , inset 0 0 0 6px #337ab7;
}

.mentoring-tracks__container {
    position: relative;
    margin: 16px auto auto;
}

.mentoring-tracks__selection {
    display: block;
    width: 680px;
    margin: auto;
    padding: 16px;
    margin-bottom: 4px;

    h4 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }

    label {
        font-size: 16px;
        margin: 0 0 4px;
        color: #888888;
        font-weight: 400;
        width: 125px;
    }

    select {
        -webkit-appearance: button;
        -webkit-user-select: none;
        background-image: url("arrow-down.png");
        background-position: 97% center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: white;
        border-radius: 2px;
        border: 1px solid #ddd;
        color: inherit;
        font-size: inherit;
        margin-bottom: 8px;
        overflow: hidden;
        padding: 5px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 240px;
    }

    input[type="date"] {
        padding: 5px 10px;
        width: 170px;
        font-size: inherit;
        border: 1px solid #ddd;
        border-radius: 2px;
    }
}

.dashboard__heading {
    font-size: 20px;
    color: #888888;
    width: 680px;
    display: block;
    margin: 16px auto 6px;
}

.dashboard__heading__line {
    margin: 0;
    border-bottom: 1px solid #c5c7c9;
    width: 680px;
    margin: auto auto 4px;
}

.mentoring-tracks__track__sections {
    max-width: 720px;
    margin: auto;
    display: block;
}

.confirm-track__btns {
    display: inline-block;
    position: fixed;
    top: 260px;
    text-align: center;
    right: 0;
    width: calc(50% - 340px);
}

.mentoring-tracks__request-all {
    width: 680px;
    background-color: white;
    border-radius: 3px;
    margin: auto;
    padding: 0 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.23);

    h2 {
        text-align: center;
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 10px;
        border-bottom: 1px solid #eeeeee;
    }

    .mentoring-tracks__request-each {
        width: 680px;
        display: block;
        margin: auto;
        border-bottom: 1px solid #eeeeee;
        padding: 12px 0;

        p {
            margin: 0 0 4px;

            span {
                font-weight: bolder;
            }
        }

        .mentoring-tracks__request-each__btns {
            display: block;
        }
    }
}
