// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.incomplete {
  color: red !important;
}

.to_be_reviewed {
  color: #d3c137 !important;
}

.complete {
  color: darkgreen !important;
}
