// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.incomplete {
  color: red;
}

.to_be_reviewed {
  color: yellow;
}

.complete {
  color: green;
}
