%div
  %div{"ng-controller" => "OrganizationController"}
    %div.org-signup__box
      %h1 Welcome {{current_user.first_name}}!
      %h4 You are about to set up a new organisation
      %div.org-signup__input
        %label Organisation name
        %input{"ng-model" => "organization.name"}
      %p Learn more about mentorhub in five steps.
      %input.btn--raised{:type => "submit", :value=> "Start the tour", "ng-click" => "updateOrganization()"}
      .clearfix

:javascript
  var OrganizationConfig = {
    current_user: #{@current_user.to_json},
    organization: #{@organization.to_json},
    contacts: #{@contacts.to_json},
    users:    #{@users.to_json}
  };
