%div{"ng-controller" => "OrganizationController"}
  .board-subnav
    %ul.board-subnav-links
      %li.org-list.active
        %a.org-list__name {{organization.name}}
  %div.org-signup
    %div.org-signup__invite
      %div.members{"ng-show" => "!invite"}
        %h2.org-signup__heading Members of the Organization
        %div.org__member{"ng-repeat" => "user in users"}
          %img{"data-name" => "{{user.first_name}}", "data-height" => "30","data-width" => "30","data-font-size" => "12", "data-char-count" => "2","data-font-weight" => "400" , "class" => "profile initialjs-avatar"}
          %div.user
            %p.user__name {{user.first_name}} {{user.last_name}}
        %a.org__invite-members{"data-target" => "#myModal", "data-toggle" => "modal"}
          %i.material-icons add_circle
          %label Invite members
  #myModal.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Invite Members
        .modal-body
          %div.invites
            .search__name
              %input{"ng-model" => "search", :placeholder => "Search", :type => "text"}/
            %div.user__invite{"ng-repeat" => "contact in contacts | filter:search"}
              %p.user__name {{contact.name.fullName}}
              .btn--flat{"ng-click" => "send_invite(contact)", "ng-disabled" => "contact.invited"} {{contact.invited ? "Invited" : "Invite"}}
              %p.user__email {{contact.primaryEmail}}

:javascript
  var OrganizationConfig = {
    current_user: #{@current_user.to_json},
    organization: #{@organization.to_json},
    contacts: #{@contacts.to_json},
    users:    #{@users.to_json}
  };
